<label for="packNameField">Pack Name: </label>
<input type="text" id="packNameField" name="packNameField"><br>
<label for="submitterNameField">Your Name: </label>
<input type="text" id="submitterNameField" name="submitterNameField"><br><br>

<app-card-picker name="cardField1" tag="Card 1:"></app-card-picker>
<app-card-picker name="cardField2" tag="Card 2:"></app-card-picker>
<app-card-picker name="cardField3" tag="Card 3:"></app-card-picker>
<app-card-picker name="cardField4" tag="Card 4:"></app-card-picker>
<app-card-picker name="cardField5" tag="Card 5:"></app-card-picker>
<app-card-picker name="cardField6" tag="Card 6:"></app-card-picker>
<app-card-picker name="cardField7" tag="Card 7:"></app-card-picker>
<app-card-picker name="cardField8" tag="Card 8:"></app-card-picker>
<app-card-picker name="cardField9" tag="Card 9:"></app-card-picker>
<app-card-picker name="cardField10" tag="Card 10:"></app-card-picker>
<app-card-picker name="cardField11" tag="Card 11:"></app-card-picker>
<app-card-picker name="cardField12" tag="Card 12:"></app-card-picker>
<app-card-picker name="cardField13" tag="Card 13:"></app-card-picker>
<app-card-picker name="cardField14" tag="Card 14:"></app-card-picker>
<app-card-picker name="cardField15" tag="Card 15:"></app-card-picker>
<app-card-picker name="cardField16" tag="Card 16:"></app-card-picker>
<app-card-picker name="cardField17" tag="Card 17:"></app-card-picker>
<app-card-picker name="cardField18" tag="Card 18:"></app-card-picker>
<app-card-picker name="cardField19" tag="Card 19:"></app-card-picker>
<app-card-picker name="cardField20" tag="Card 20:"></app-card-picker>

<label for="cardField1">Card 1: </label>
<input type="text" id="cardField1" name="cardField"><br><br>
<label for="cardField2">Card 2: </label>
<input type="text" id="cardField2" name="cardField"><br><br>
<label for="cardField3">Card 3: </label>
<input type="text" id="cardField3" name="cardField"><br><br>
<label for="cardField4">Card 4: </label>
<input type="text" id="cardField4" name="cardField"><br><br>
<label for="cardField5">Card 5: </label>
<input type="text" id="cardField5" name="cardField"><br><br>
<label for="cardField6">Card 6: </label>
<input type="text" id="cardField6" name="cardField"><br><br>
<label for="cardField7">Card 7: </label>
<input type="text" id="cardField7" name="cardField"><br><br>
<label for="cardField8">Card 8: </label>
<input type="text" id="cardField8" name="cardField"><br><br>
<label for="cardField9">Card 9: </label>
<input type="text" id="cardField9" name="cardField"><br><br>
<label for="cardField10">Card 10: </label>
<input type="text" id="cardField10" name="cardField"><br><br>
<label for="cardField11">Card 11: </label>
<input type="text" id="cardField11" name="cardField"><br><br>
<label for="cardField12">Card 12: </label>
<input type="text" id="cardField12" name="cardField"><br><br>
<label for="cardField13">Card 13: </label>
<input type="text" id="cardField13" name="cardField"><br><br>
<label for="cardField14">Card 14: </label>
<input type="text" id="cardField14" name="cardField"><br><br>
<label for="cardField15">Card 15: </label>
<input type="text" id="cardField15" name="cardField"><br><br>
<label for="cardField16">Card 16: </label>
<input type="text" id="cardField16" name="cardField"><br><br>
<label for="cardField17">Card 17: </label>
<input type="text" id="cardField17" name="cardField"><br><br>
<label for="cardField18">Card 18: </label>
<input type="text" id="cardField18" name="cardField"><br><br>
<label for="cardField19">Card 19: </label>
<input type="text" id="cardField19" name="cardField"><br><br>
<label for="cardField20">Card 20: </label>
<input type="text" id="cardField20" name="cardField"><br><br>
